//***COLORS***//

$text-color: #1212d4;
$secondary-color: #ff005d;
$ternary-color: greenyellow;
$sticky-header-color: $text-color;
$work-nav-btn: $text-color;

//***MEDIA QUERIES***//
$breakpoint-medium: 624px;
$story: 900px;
$breakpoint-large: 1200px;
$breakpoint-xl: 1700px;